.container
   .row
     .col-sm-8.blog
       - each articleInfo in data.paginatedResults
         section
             article
               h1
                 a(href='#') #{articleInfo.title}
               .row
                 .col-sm-12.col-md-12
                   span.glyphicon.glyphicon-pencil
                   a(href='#')
                   | #{articleInfo.comments.length}  Comments
                   span.glyphicon.glyphicon-time
                   | #{articleInfo.createDate}
               hr
               br
               p.lead
                   #{articleInfo.content}
               hr
       ul.pagination
         if  req.data.current_minus_3 != '-1'
           li.page-num
             a(href='/blog/page/#{req.data.current_minus_3}') «
         if  req.data.current_minus_2 != '-1'
           li.page-num
             a(href='/blog/page/#{req.data.current_minus_2}') #{req.data.current_minus_2}
         if  req.data.current_minus_1 != '-1'
           li.page-num
             a(href='/blog/page/#{req.data.current_minus_1}') #{req.data.current_minus_1}
         if  req.data.current_page != '-1'
           li.active.page-num
             a(href='/blog/page/#{req.data.current_page}') #{req.data.current_page}
         if  req.data.current_plus_1 != '-1'
           li.page-num
             a(href='/blog/page/#{req.data.current_plus_1}') #{req.data.current_plus_1}
         if  req.data.current_plus_2 != '-1'
           li.page-num
             a(href='/blog/page/#{req.data.current_plus_2}') #{req.data.current_plus_2}
         if  req.data.current_plus_3 != '-1'
           li.page-num
             a(href='/blog/page/#{req.data.current_plus_3}') »

     .col-sm-4.sidebar
       h3.tpad Search
       section
         .input-group.input-group-sm.tpad
           span.input-group-addon.glyphicon.glyphicon-search
           input.form-control.input-lg(type='text', placeholder='Search')
           span.input-group-btn
             button.btn.btn-default(type='button') Go
         hr
       section
         h3.tpad Tags
         a.list-group-item.active(href='#')
           span.badge 25
           | All Tags
         a.list-group-item(href='#')
           span.badge 15
           | c++/c
         a.list-group-item(href='#')
           span.badge 5
           | python
         a.list-group-item(href='#')
           span.badge 3
           | java
         a.list-group-item(href='#')
           span.badge 2
           | ruby
         hr
       section
         h3.tpad Latest from Twitter
         .media.tpad
           a.pull-left(href='https://twitter.com/ftmikeyoung')
             img.media-object(src='images/baby_girl.jpg', alt='user', width='50%')
           .media-body
             h4.media-heading @sdong
             p.bpad Titanic is a good movie
         hr
  script(src="/javascripts/blog.js")
